{% extends "parent/parent.html" %}
{% load static %}
{% block content %}
    <!--导航条-->
    <nav class="breadcrumb">
        <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span
                class="c-gray en">&gt;</span> <span class="c-gray">{{ classify.class_name }}</span> <span
                class="c-gray en">&gt;</span> <span
                class="c-gray">{{ blogarticle.blog_title }}</span></div>
    </nav>

    <div class="row w_main_row">
    <div class="col-xs-offset-2 col-md-10 col-md-offset-1 mt-20">
    <div class="panel panel-default  mb-10">
        <div class="panel-body pt-10 pb-10">
            <h2 class="c_titile">{{ blogarticle.blog_title }}</h2>
            <p class="box_c"><span class="d_time">发布时间：{{ blogarticle.create_time }}</span><span>编辑：<a href="">Jason</a>
            </p>
            <ul class="infos">
                <li>{{ blogarticle.blog_content|safe }}</li>
                <p align="center" class="pageLink"></p>
            </ul>

            <div class="keybq">
                <p><span>关键字</span>：
                    {% for tag_name in blogarticle.blogtag.all %}
                        <a class="label label-default">{{ tag_name }}</a>
                    {% endfor %}
                </p>
            </div>
            {% comment %} <div class="nextinfo">
                            <p class="last">上一篇：<a href="#">免费收录网站搜索引擎登录口大全</a></p>
                            <p class="next">下一篇：<a href="#">javascript显示年月日时间代码</a></p>
                        </div>{% endcomment %}

        </div>
    </div>

    <div class="">
        <br/>
        <div class="tab-category">
            <a href=""><strong>评论区</strong></a>
        </div>
        <br/>


        <!--用于评论-->
        <form action="{% url 'comments:博客评论' %}" method="post">
            {% csrf_token %}
            <div class="panel panel-default  mb-20" id="ct">
                <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
                <textarea id="textarea1" name="content" style="height:200px;" placeholder="看完不留一发？"> </textarea>
                <input type="hidden" name="blog_id" value="{{ blogarticle.pk }}"/>
                <input type="hidden" name="parent_id" value="0"/>
                <div class="text-r mt-10">
                    <button class="btn btn-primary radius fabiao"> 发表评论</button>
                </div>
            </div>
        </form>
        <div class="line"></div>


        <ul class="commentList mt-50">
            {% for comment in comments %}
                {% if comment.parent_id == 0  %}
                    <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
                                                                                 src="http://q.qlogo.cn/qqapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>
                <div class="comment-main">
                    <header class="comment-header">
                        <div class="comment-meta"><a class="comment-author" href="#">{{ comment.user.phone }}</a>
                            <time title="" datetime="" class="f-r">{{ comment.create_time }}</time>
                        </div>
                    </header>
                    <div class="comment-body">
                        {{ comment.content|safe }}


                        {% endif %}

                        {% comment %}<ul class="commentList">
                            <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
                                                                                                 src="http://qzapp.qlogo.cn/qzapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">老王</a>
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">
                                                2014-8-31 15:20
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p> 是的</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
                                                                                                 src="http://qzapp.qlogo.cn/qzapp/101388738/696C8A17B3383B88804BA92ECBAA5D81/100"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">老王</a>
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">
                                                2014-8-31 15:20
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p> +1</p>
                                    </div>
                                </div>
                            </li>

                        </ul>{% endcomment %}

                        <button class="hf f-r btn btn-default size-S mt-10 reply" name="2">回复</button>

                    </div>
                </div>
            </li>
            {% endfor %}
{% comment %}<li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
     src="http://qzapp.qlogo.cn/qzapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>
                <div class="comment-main">
                    <header class="comment-header">
                        <div class="comment-meta"><a class="comment-author" href="#">老王</a>
                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">2014-8-31 15:20
                            </time>
                        </div>
                    </header>
                    <div class="comment-body">
                        你是猴子派来的救兵吗？
                        <button class="hf f-r btn btn-default size-S mt-10" name="3">回复</button>
                    </div>
                </div>
            </li>
{% endcomment %}

        </ul>


        <!--用于回复-->
        <div class="comment hidden mt-20">
            <form class="reply" action="{% url 'comments:博客评论' %}" method="post">
                {% csrf_token %}
            <div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
            <textarea name="reply" class="textarea" style="height:100px;"> </textarea>
                <input type="hidden" class="reply-blog_id" name="blog_id" value="{{ blogarticle.pk }}"/>
                <input type="hidden" class="reply-parent_id" name="parent_id" value="{{ comment.pk }}"/>
            <button type="button" class="btn btn-primary radius mt-10 reply">回复</button>
            <a class="cancelReply f-r mt-10 ">取消回复</a>
                </form>
        </div>

    </div>


{% endblock %}

{% block footer_js %}
    <script type="text/javascript" src="{% static 'plugin/jquery/1.9.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/layer/3.0/layer.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/h-ui/js/H-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/pifu/pifu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script> $(function () {
        $(window).on("scroll", backToTopFun);
        backToTopFun();
    }); </script>
    <script type="text/javascript" src="{% static 'plugin/wangEditor/js/wangEditor.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            wangEditor.config.printLog = false;
            var editor1 = new wangEditor('textarea1');
            editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
            {% comment %}editor1.config.emotions = {
                'default': {title: '老王表情', data: 'plugin/wangEditor/emotions1.data'},
                'default2': {title: '老王心情', data: 'plugin/wangEditor/emotions3.data'},
                'default3': {title: '顶一顶', data: 'plugin/wangEditor/emotions2.data'}
            };{% endcomment %}
            editor1.create();

            //show reply
            $(".hf").click(function () {
                pId = $(this).attr("name");
                $(this).parents(".commentList").find(".cancelReply").trigger("click");
                $(this).parent(".comment-body").append($(".comment").clone(true));
                $(this).parent(".comment-body").find(".comment").removeClass("hidden");
                $(this).hide();
            });
            //cancel reply
            $(".cancelReply").on('click', function () {
                $(this).parents(".comment-body").find(".hf").show();
                $(this).parents(".comment-body").find(".comment").remove();
            });


            // 实现评论功能
            $(".fabiao").on("click", function () {
                console.debug(111);
                var self = $(this);
                // 准备发送ajax的数据
                var data = $("form").serialize();
                //获取博客文章的id
                var blog_id = parseInt(self.siblings('input').val());
                //console.debug(blog_id);
                //发动ajax请求
                $.ajax({
                    type: "post",
                    url: "{% url 'comments:博客评论' %}",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.debug(data);
                        alert(data.errmsg);
                        location.href = "{% url 'blog:博客详情' %}?blog_id=" + data.data;
                        }

                })


            });




            //实现回复功能
  {% comment %}          $(".reply").on("click", function () {
                //console.debug(22222)
                var self = $(this);
                // 准备发送ajax的数据
                var data = $("form.reply").serialize();
                console.debug(data);
                //获取博客文章的id
                var blog_id = parseInt(self.siblings('input').val());
                //console.debug(blog_id);
                //发动ajax请求
                $.ajax({
                    type: "post",
                    url: "{% url 'comments:博客评论' %}",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        //console.debug(data);
                        if (data.code == 0) {
                            if (confirm("回复成功!")){
                                location.href = "{% url 'blog:博客详情' %}?blog_id=" + data.data;
                            }
                        }else{
                             alert(data.errmsg);
                            location.href = "{% url 'blog:博客详情' %}?blog_id=" + data.data;
                        }
                    }
                })

            }){% endcomment %}

        });

    </script>
{% endblock %}