{% extends "parent/parent.html" %}
{% load static %}
{% block content %}
    <section class="container">
        <div class="row w_main_row">

            <div class="col-xs-12 col-md-10 col-md-offset-1 mt-20">
            <div class="col-xs-12 col-md-10 col-md-offset-1 mt-20">
               <div class="panel panel-default  mb-10">
        <div class="panel-body pt-10 pb-10">
            <h2 class="c_titile">{{ blogarticle.blog_title }}</h2>
                <input type="hidden" id="reply-blog_id" value="{{ blogarticle.pk }}"/>
            <p class="box_c">
                <span class="d_time">
                    发布时间：{{ blogarticle.create_time }}</span>
                <span>编辑：<a href="#">Jason</a>
                </span>
            </p>
            <ul class="infos">
                <li>{{ blogarticle.blog_content|safe }}</li>
                <p align="center" class="pageLink"></p>
            </ul>

            <div class="keybq">
                <p><span>关键字</span>：
                    {% for tag_name in blogarticle.blogtag.all %}
                        <a class="label label-default">{{ tag_name }}</a>
                    {% endfor %}
                </p>
            </div>
            {% comment %} <div class="nextinfo">
                            <p class="last">上一篇：<a href="#">免费收录网站搜索引擎登录口大全</a></p>
                            <p class="next">下一篇：<a href="#">javascript显示年月日时间代码</a></p>
                        </div>{% endcomment %}

        </div>
    </div>

                <div class="panel panel-default  mb-20">
                    <div class="tab-category">
                        <a href=""><strong>评论区</strong></a>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body" style="margin: 0 3%;">
                            <div class="mb-20">

        <!--用于评论-->
        <form action="{% url 'comments:博客评论' %}" method="post">
            {% csrf_token %}
            <div class="panel panel-default  mb-20" id="ct">
                <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
                <textarea class="comment-content" id="textarea1"  name="content" style="height:200px;" placeholder="看完不留一发？"> </textarea>
                <input type="hidden" name="blog_id" value="{{ blogarticle.pk }}"/>
                <input type="hidden" name="parent_id" value="0"/>
                <div class="text-r mt-10">
                    <button type="button" class="btn btn-primary radius fabiao"> 发表评论</button>
                </div>
            </div>
        </form>

        <div class="line"></div>
            <ul class="commentList mt-50">
                {% for comment in comments %}
                        {% if comment.parent_id == 0 %}
                            <li class="item cl"><a href="#">
                    <i class="avatar size-L radius"><img alt="" src="{{ MEDIA_URL }}{{ comment.user.head }}"></i></a>
                    <div class="comment-main">
                        <header class="comment-header">
                            <div class="comment-meta"><a class="comment-author" href="#">{{ comment.user.nickname }}</a>
                                <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20"
                                      class="f-r">{{ comment.create_time }}
                                </time>
                            </div>
                        </header>
                        <div class="comment-body">
                            <input type="hidden" class="reply-parent-id" value="{{ comment.pk }}"/>
                            {{ comment.content|safe }}
                                <!--展示回复-->
                            <ul class="commentList">
                                {% for reply in  replies %}
                                    {% if reply.parent_id == comment.pk %}

                                        <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt="" src="{{ MEDIA_URL }}{{ reply.user.head }}"></i></a>
                                    <div class="comment-main">
                                        <header class="comment-header">
                                            <div class="comment-meta">
                                                <a class="comment-author" href="#">{{ reply.user.nickname }}</a>
                                                <time title="2014年8月31日 下午3:20"
                                                      datetime="2014-08-31T03:54:20" class="f-r">
                                                    {{ reply.create_time }}
                                                </time>
                                            </div>
                                        </header>
                                        <div class="comment-body">
                                            <p>{{ reply.content }}</p>
                                        </div>
                                    </div>
                                </li>

                                    {% endif %}
                                {% endfor %}

                            </ul>
                            <button class="hf f-r btn btn-default size-S mt-10" name="2">回复</button>
                            <input type="hidden" class="reply-parent-id" value="{{ comment.pk }}"/>

                        </div>
                    </div>
                </li>
                        {% endif %}
                    {% endfor %}
            </ul>

        <div class="text-c mb-20" id="moreBlog">
        {% if comments.paginator.page_range|length >= 2 %}
                <nav aria-label="Page navigation">
                {% if comments.has_previous %}
                    <a href="{% url 'blog:博客详情' %}?blog_id={{ blogarticle.pk }}&page={{ comments.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">
                     <input class="btn btn-success radius size-M" type="button" value="&laquo;">
                    </span>
                        </a>
                    {% endif %}

                    {% for p in comments.paginator.page_range %}
                        <a href="{% url 'blog:博客详情' %}?blog_id={{ blogarticle.pk }}&page={{ p }}">
                    <input class="btn btn-secondary radius size-M" type="button" value="{{ p }}">
                    </a>
                    {% endfor %}

                    {% if blogarticles.has_next %}
                            <a href="{% url 'blog:博客详情' %}?blog_id={{ blogarticle.pk }}&page={{ comments.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">
                            <input class="btn btn-success radius size-M" type="button" value="&raquo;">
                                </span>
                                </a>
                            {% endif %}
                           {% comment %} <span style="width:30px;font-size: 16px;" aria-hidden="true">当前:第{{ comments.number }}页</span>{% endcomment %}
                        </nav>
        {% endif %}

        </div>

         <!--用于回复-->
        <div class="comment hidden mt-20 ">
            <div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>

            <textarea class="textarea reply-content" id="textarea2" style="height:100px;"> </textarea>
            <button type="button" class="btn btn-primary radius mt-10 reply">回复</button>
            <a class="cancelReply f-r mt-10 ">取消回复</a>
        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>


    </section>
{% endblock %}




{% block footer_js %}
    <script type="text/javascript" src="{% static 'plugin/jquery/1.9.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/layer/3.0/layer.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/h-ui/js/H-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin/pifu/pifu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script> $(function () {
        $(window).on("scroll", backToTopFun);
        backToTopFun();
    }); </script>
    <script type="text/javascript" src="{% static 'plugin/wangEditor/js/wangEditor.min.js' %}"></script>

    <script type="text/javascript">

        $(function () {
            wangEditor.config.printLog = false;
            var editor1 = new wangEditor('textarea1');
            editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'emotion', '|', 'undo', 'fullscreen'];


            editor1.create();

            //show reply
            $(".hf").click(function () {
                pId = $(this).attr("name");
                $(this).parents(".commentList").find(".cancelReply").trigger("click");
                $(this).parent(".comment-body").append($(".comment").clone(true));
                $(this).parent(".comment-body").find(".comment").removeClass("hidden");
                $(this).hide();
            });
            //cancel reply
            $(".cancelReply").on('click', function () {
                $(this).parents(".comment-body").find(".hf").show();
                $(this).parents(".comment-body").find(".comment").remove();
            });


            // 实现评论功能
            $(".fabiao").on("click", function () {
                //console.debug(111);
                var self = $(this);
                // 准备发送ajax的数据
                var data = $("form").serialize();
                //获取博客文章的id
                var blog_id = parseInt(self.siblings('input').val());
                //console.debug(blog_id);
                var comment = $(".comment-content").val();
                console.debug(comment);
                //发动ajax请求
                $.ajax({
                    type: "post",
                    url: "{% url 'comments:博客评论' %}",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        //console.debug(data);
                        if (data.code == 1) {
                            if (confirm("您还没有登录,是否立即登录?")) {
                                location.href = "{% url 'user:用户登录' %}";
                            }
                        } else {
                            alert(data.errmsg);
                            location.href = "{% url 'blog:博客详情' %}?blog_id=" + data.data;
                        }
                    }
                })


            });


            //实现回复功能
            $(".reply").on("click", function () {
                //console.debug(22222)
                var self = $(this);

                // 准备发送ajax的数据
                // 获取回复的内容
                var reply = $(".reply-content").val();
                //console.debug(reply);
                if (reply.length == 0) {
                    alert("回复不能为空哦!")

                } else {
                    //获取博客文章的id
                    var blog_id = $("#reply-blog_id").val();
                    //console.debug(blog_id);
                    //获取评论的id
                    var parent_id = self.parent().prev().val();
                    //console.debug(parent_id);

                    // 准备json数据
                    var data = {
                        "blog_id": blog_id,
                        "parent_id": parent_id,
                        "reply": reply,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    };

                    //发动ajax请求
                    $.ajax({
                        type: "post",
                        url: "{% url 'comments:博客评论回复' %}",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            //console.debug(data);
                            if (data.code == 1) {
                                if (confirm("您还没有登录,是否立即登录?")) {
                                    location.href = "{% url 'user:用户登录' %}";
                                }
                            } else {
                                alert(data.errmsg);
                                location.href = "{% url 'blog:博客详情' %}?blog_id=" + data.data;
                            }
                        }
                    })


                }

            });
                // 退出登录
                $("#qwer").on("click", function () {
                //console.debug(1111)
                    var datas = {
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    };
                    //发动ajax请求
                    $.ajax({
                        type: "post",
                        url: "{% url 'user:用户退出登录' %}",
                        data: datas,
                        dataType: "json",
                        success: function (data) {
                            //console.debug(data);
                            if (data.code == 0) {
                                location.href = "{% url 'blog:博客首页' %}";
                            } else {
                                alert(data.errmsg);
                            }
                        }
                    })
            })


        });
        </script>

{% endblock %}
