{% extends 'parent/parent.html' %}
{% load static %}


{% block content %}
    <section class="container pt-20">
        <div class="col-sm-9 col-md-9">
            <!--滚动图-->
            <div class="slider_main">
                <div class="slider">
                    <div class="bd">
                        <ul>
                            {% for carousel in carousels %}
                                <li>
                                    <a href="{% url 'blog:博客详情' %}?blog_id={{ carousel.blogarticle.pk }}"
                                       target="_blank">
                                        <img style="height: 250px" src="{{ MEDIA_URL }}{{ carousel.img_url }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <ol class="hd cl dots">
                        {% for carousel in carousels %}
                            <li>forloop.counter</li>
                        {% endfor %}
                    </ol>
                    <a class="slider-arrow prev" href="javascript:void(0)"></a>
                    <a class="slider-arrow next" href="javascript:void(0)"></a>
                </div>
            </div>

            <div class="mt-20 bg-fff box-shadow radius mb-5">
                <div class="tab-category">
                    <a href=""><strong class="current">最新发布</strong></a>
                </div>
            </div>
            <div class="art_content">
                <ul class="index_arc">
                    {% for blogarticle in blogarticles %}
                        {% if blogarticle.blog_img %}
                            <li class="index_arc_item">
                                <a href="{% url "blog:博客详情" %}?blog_id={{ blogarticle.pk }}" class="pic">
                                    <img class="lazyload"
                                         data-original="{{ MEDIA_URL }}{{ blogarticle.blog_img }}"
                                         alt="{{ blogarticle.blog_title }}">
                                </a>
                                <h4 class="title">
                                    <a href="{% url "blog:博客详情" %}?blog_id={{ blogarticle.pk }}">
                                        {{ blogarticle.blog_title }}
                                    </a>
                                </h4>
                                <div class="date_hits">
                                    <span>Jason</span>
                                    <span>{{ blogarticle.create_time }}</span>
                                    {% for tag in blogarticle.blogtag.all %}
                                        <span>
                        <a href="{% url 'blog:标签搜索分类' tag.pk %}">{{ tag.tag_name }}</a>
                    </span>
                                    {% endfor %}
                                                                        <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;
                                    </i>{{ blogarticle.blog_count }}
                                    </p>
                                    <p class="commonts"><i class="Hui-iconfont" title="评论量">&#xe622;
                                    </i>
                                        <span id="sourceId::105" class="cy_cmt_count">{{ blogarticle.commentsmodel_set.all.count }}
                                        </span>
                                    </p>
                                </div>
                                <div class="desc">{{ blogarticle.blog_brief|safe }}</div>
                            </li>
                        {% else %}
                            <li class="index_arc_item no_pic">
                                <h4 class="title">
                                    <a href="{% url "blog:博客详情" %}?blog_id={{ blogarticle.pk }}">
                                        {{ blogarticle.blog_title }}
                                    </a>
                                </h4>
                                <div class="date_hits">
                                    <span>Jason</span>
                                    <span>{{ blogarticle.create_time }}</span>
                                    {% for tag in blogarticle.blogtag.all %}
                                        <span>
                        <a href="{% url 'blog:标签搜索分类' tag.pk %}">{{ tag.tag_name }}</a>
                    </span>
                                    {% endfor %}
                                    <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;
                                    </i>{{ blogarticle.blog_count }}
                                    </p>
                                    <p class="commonts"><i class="Hui-iconfont" title="评论量">&#xe622;
                                    </i>
                                        <span id="sourceId::105" class="cy_cmt_count">{{ blogarticle.commentsmodel_set.all.count }}
                                        </span>
                                    </p>
                                </div>
                                <div class="desc">{{ blogarticle.blog_brief|safe }}</div>
                            </li>

                        {% endif %}
                    {% endfor %}

{#                    分页#}
                {% if blogarticles.paginator.page_range|length >= 2 %}
                    <nav aria-label="Page navigation">
                        {% if blogarticles.has_previous %}
                            <a href="{% url 'blog:博客首页' %}?page={{ blogarticles.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">
                                     <input class="btn btn-success radius size-M" type="button" value="&laquo;">
                                </span>
                            </a>
                        {% endif %}

                        {% for p in blogarticles.paginator.page_range %}
                            <a href="{% url 'blog:博客首页' %}?page={{ p }}">
                                <input class="btn btn-secondary radius size-M" type="button" value="{{ p }}">
                            </a>
                        {% endfor %}

                        {% if blogarticles.has_next %}
                            <a href="{% url 'blog:博客首页' %}?page={{ blogarticles.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">
                                    <input class="btn btn-success radius size-M" type="button" value="&raquo;">
                                </span>
                            </a>
                        {% endif %}
                    </nav>
                {% endif %}

                </ul>
            </div>
        </div>

        <!--right-->
        <div class="col-sm-3 col-md-3">

            <!--站点搜索-->
            <div class="panel panel-default mb-20">
                <div class="panel-body">
                    <i class="Hui-iconfont" style="float: left;">&#xe62f;&nbsp;</i>
                    <div class="slideTxtBox">
                        <form action="{% url 'search:haystack_search' %}" method="get">
                            <div class="bd">
                                <input type="text" name="q" class="scrollHeight" style="width: 170px;height: 25px" placeholder="请输入您要的搜索的博客关键词"/>
                                <input type="submit" value="搜索" class="btn btn-success radius size-S"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--博主信息-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>博主信息</strong></a>
                </div>
                <div class="tab-category-item">
                    <ul class="index_recd">
                        <li class="index_recd_item"><i class="Hui-iconfont">&#xe653;</i>姓名：Jason</li>
                        <li class="index_recd_item"><i class="Hui-iconfont">&#xe70d;</i>职业：Python开发</li>
                        <li class="index_recd_item"><i class="Hui-iconfont">&#xe63b;</i>邮箱：<a href="mailto:wfyv@qq.com">392391438@qq.com</a>
                        </li>
                        <li class="index_recd_item"><i class="Hui-iconfont">&#xe671;</i>定位：四川 &middot; 成都</li>
                    </ul>
                </div>
            </div>


            <!--热门推荐-->


            <!--点击排行-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>点击排行</strong></a>
                </div>
                <div class="tab-category-item">
                    <ul class="index_recd clickTop">
                        {% for dat in data %}
                        <li>
                                <a href="{% url "blog:博客详情" %}?blog_id={{ dat.pk }}">{{ dat.blog_title}}</a>
                                <p class="hits"><i class="Hui-iconfont" title="评论量">&#xe6c1;
                                </i>{{ dat.blog_count }}
                                </p>
                                <br/>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>

            <!--标签-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>标签云</strong></a>
                </div>
                <div class="tab-category-item">
                    <div class="tags">
                        {% for tag in tags %}
                            {% csrf_token %}
                            <a class="tag" href="{% url 'blog:标签搜索分类' tag.pk %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!--友情链接-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>隔壁邻居</strong></a>
                </div>
                <div class="tab-category-item">
                    <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">百度</a></span>
                    <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">淘宝</a></span>
                    <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">腾讯</a></span>
                    <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">慕课网</a></span>
                    <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">h-ui</a></span>
                </div>
            </div>


            <!--分享-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>站点分享</strong></a>
                </div>
                <div class="panel-body">
                    <div class="bdsharebuttonbox Hui-share"><a href="#" class="bds_weixin Hui-iconfont"
                                                               data-cmd="weixin" title="分享到微信">&#xe694;</a><a href="#"
                                                                                                              class="bds_qzone Hui-iconfont"
                                                                                                              data-cmd="qzone"
                                                                                                              title="分享到QQ空间">&#xe6c8;</a>
                        <a href="#" class="bds_sqq Hui-iconfont" data-cmd="sqq" title="分享到QQ好友">&#xe67b;</a> <a href="#"
                                                                                                                class="bds_tsina Hui-iconfont"
                                                                                                                data-cmd="tsina"
                                                                                                                title="分享到新浪微博">&#xe6da;</a>
                        <a href="#" class="bds_tqq Hui-iconfont" data-cmd="tqq" title="分享到腾讯微博">&#xe6d9;</a></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block footer %}

{% endblock %}

{% block footer_js %}

    <script> $(function () {
        $(window).on("scroll", backToTopFun);
        backToTopFun();
    }); </script>
    <script type="text/javascript"
            src="{% static 'plugin/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js' %}"></script>
    <script>
        $(function () {
//幻灯片
            jQuery(".slider_main .slider").slide({
                mainCell: ".bd ul",
                titCell: ".hd li",
                trigger: "mouseover",
                effect: "leftLoop",
                autoPlay: true,
                delayTime: 700,
                interTime: 2000,
                pnLoop: true,
                titOnClassName: "active"
            });
//tips
            jQuery(".slideTxtBox").slide({
                titCell: ".hd ul",
                mainCell: ".bd ul",
                autoPage: true,
                effect: "top",
                autoPlay: true
            });
//标签
            $(".tags a").each(function () {
                var x = 9;
                var y = 0;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                $(this).addClass("tags" + rand)
            });

            $("img.lazyload").lazyload({failurelimit: 3});



            // 退出登录
            $("#qwer").on("click", function () {
                //console.debug(1111)
                    var datas = {
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    };
                    //发动ajax请求
                    $.ajax({
                        type: "post",
                        url: "{% url 'user:用户退出登录' %}",
                        data: datas,
                        dataType: "json",
                        success: function (data) {
                            //console.debug(data);
                            if (data.code == 0) {
                                location.href = "{% url 'blog:博客首页' %}";
                            } else {
                                alert(data.errmsg);
                            }
                        }
                    })


            })

        });
    </script>
{% endblock %}

