{% extends 'parent/father.html' %}
{% load static %}
{% block title %}
    用户登录
{% endblock %}

{% block content %}
    <div id="particles-js">
    <div class="login">
        <div class="login-top">
            登录
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="{% static 'register_login/img/name.png' %}"/></div>
                <div class="login-center-input">
                    <input type="text" name="phone" value="{{ request.POST.phone }}" placeholder="请输入您的电话号码"/>
                    <div class="login-center-input-text">电话号码</div>
                    {{ form.errors.phone.0 }}

                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="{% static 'register_login/img/password.png' %}"/></div>
                <div class="login-center-input">
                    <input type="password" name="password" value="" placeholder="请输入您的密码"/>
                    <div class="login-center-input-text">密码</div>
                    {{ form.errors.password.0 }}
                </div>
            </div>

            <div class="login-button">
                <input type="submit" value="登   录" style="background-color: #5e9eed; width: 246px; height: 36px"/>
            </div>

            <br/>

                <a style="color: #0c59e9" href="{% url 'user:用户注册' %}" >&emsp;&emsp;&emsp;&emsp;&nbsp;去 注 册</a>

            <a style="color: #0c59e9" href="{% url 'user:用户重置密码' %}" >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;忘记密码</a>

                    </form>
        <div class="sk-rotating-plane"></div>



    </div>
    </div>

{% endblock %}

